/*
#bar_nav {
    width: 100%;
    height: 2em;
}
#nav_ul {
   /*background-color:#95BCFC;*
   border-radius: .5em .5em .5em .5em;
   -moz-border-radius: .5em .5em .5em .5em;
   -webkit-border-radius: .5em .5em .5em .5em;
   -webkit-background-clip: padding-box;
   -moz-background-clip: padding-box;
   background-clip: padding-box;
   margin-left: auto;
   margin-right:auto;
   margin-top:9px;
   text-align: center;
   max-width: 850px;
}
.navItem_li {
    list-style-type:none;
    height: 2em;
    vertical-align:middle;
    text-align:center;
    font-family:"Helvetica Neue", "Helvetica", "Sans-Serif", "Arial";
    font-style: bold;
    text-align:center;
    display: inline-block;
    min-width: 15%;
    background-color: #e8e1ea/*#f0f4f0*;
}*/
#bar_nav{
  width:100%;
  height:40px;
  margin:0;
  padding:0;
  background-color:#e9e9e9;
  text-align:center;
  position:fixed;
  top:0;
  left:0;
  border-bottom:1px solid #b2b2b2;
  opacity:.95;
}
#nav_ul{
  width:75%;
  max-width:800px;
  height:40px;
  list-style-type:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  background-color:#eee;
  display:table;
  table-layout:fixed;
  border-right:1px solid #b2b2b2;
  border-left:1px solid #b2b2b2;
}
.navItem_li{
  width:15%;
  height:100%;
  display:table-cell;
  float:left;
  /*border:1px solid #a9a;*/
  text-align:center;
  /*background-color:#a9a9a9;*/
  margin:0;
}

.navItem_li:hover{
background-color: #ffe4ff/*#fafafa*/;
}
#home_li{
    border-radius: .5em 0 0 .5em;
    -webkit-border-radius: .5em 0 0 .5em;
    -moz-border-radius: .5em 0 0 .5em;
}
#search_li{
    border-radius: 0 .5em .5em 0;
    -webkit-border-radius: 0 .5em .5em 0;
    -moz-border-border-radius: 0 .5em .5em 0;
}

#searchImage_img{
    border-radius: .5em 0 0 .5em;
    -webkit-border-radius: .5em 0 0 .5em;
    -moz-border-radius: .5em 0 0 .5em;
    float:left;
    padding-left: 5px;
    padding-top: 5px;
}
#searchArea_input{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    background-color:#f4f4f4;
    width: 50%;
    border:1px solid #191721;
    margin-top:4px;
    margin-bottom:auto;

}
#searchArea_img{
    width: 16px;
    height: 16px;
    float:left;
}
#searchText_span{
    color: #242526;
    font-style: italic;
    font-family: "Helvetica Neue", "Helvetica", "Sans-Serif", "Arial";
/*    font-size: .8em;*/
}
/*
**Beginning of others
**
**
**
**
*/
#consoleList {
    position: absolute;
    top: 0px;
    left: -.5em;
    display:block;
    text-align:left;
}
#consoleList > li{
    list-style-type:none;
    font-family:"Helvetica Neue", "Helvetica", "Sans-Serif", "Arial";
    height: 35px;
    background-color: #ffffd1;
    width: 13em;
}
#consoleListContainer {
    position:relative;
    top:0px;
    left: 0px;
}
#logoContainer_div {
    position: relative;
    right: 0;
    top: 0;
}
#logo_img{
width:100px;
height:100px;
position: fixed;
top:0;
left: 100%;
margin-left:100px;
}


#sidebar_nav{
background-color: #FAF8F0;
border: 2px solid #EBDD8D;
border-left: none;
border-radius: 0 3px 3px 0;
-webkit-border-radius: 0 3px 3px 0;
-moz-border-border-radius: 0 3px 3px 0;
}
#consoles_ul{
width:100%;
list-style-type:none;
padding:0;
margin:0;
}
.sidebarItem_li{
  width: 250px;
  height: 50px;
  font-size: 1.25em;
  font-family:"Bebas Neue";
  color:burlywood;
  font-size:25px;
}

.sidebarItem_li:hover{
background-color: #f0f0f0/*#FAF4ED*/;
}
.sidebarItem_li img{
  width:32px;
  height:32px;
}
#sideBarContainer{
position:absolute;
left 0;
top:150px;
}
#sideBarContainerFixed{
  position:fixed;
  left: 0;
}
#marker{
width:200px;
font-size: 1.5em;
font-family: "Helvetica Neue","Helvetica","Sans-Serif","Arial";
font-weight:bold;
background-color: #E7E6FA;
text-align:center;
border: 1.5px solid #D2D0F7;
border-bottom: 0px;
border-radius: 3px 3px 0 0;
-webkit-border-radius: 3px 3px 0 0;
-moz-border-border-radius: 3px 3px 0 0;
margin-right: 25px;
}
