table {
    width:900px;
    /*height:100%;*/
    border-collapse:collapse;
    border-radius: 0em 0em 45px 45px;
    -moz-border-radius: 0em 0em 45px 14px;
    -webkit-border-radius: 0em 0em 45px 45px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    margin-left:auto;
    margin-right:auto;
    min-width:800px;
    font-family:"Helvetica Neue","Helvetica","Sans-Serif","Arial";
}
th {
    text-align:center;
    font-family:"Helvetica Neue", "Helvetica", "Sans-Serif", "Arial";
    font-size:15sp;
    cursor:pointer;
    background-color:#666;
}
tr:hover td{
    background-color: #303560;
    color: #f3efaa;
}
tr:nth-child(even) {
    background-color:#C4C7C8;
}
tr:nth-child(odd) {
    background-color:#e4e5e5;
}
tr{
    margin-bottom: 6px;
}